
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
    padding: 8px;
   float: right;

}

.searchbox {
    text-align: center;
    width: 50%;

}

.googleimage {
    position: relative;
    top: 25%;

}



